---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/reference/available-currencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - LJ1fDZeDN9cntGz1qT2PeVbjofkNrsoHqRfmQwz7nCGwD
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - f3b92f85-c447-11e5-aab1-a54a658a0069
    body:
      encoding: UTF-8
      string: '[{"code":"AUD","name":"Australian Dollar","localPaymentAvailable":false,"cutOffTime":"14:00","priorityDelivery":"Next
        Day","availableBuy":true,"availableSell":false,"extendedAvailableBuy":true,"extendedAvailableSell":true},{"code":"CAD","name":"Canadian
        Dollar","localPaymentAvailable":true,"cutOffTime":"13:00","priorityDelivery":"Same
        Day","availableBuy":true,"availableSell":false,"extendedAvailableBuy":true,"extendedAvailableSell":true},{"code":"CZK","name":"Czech
        Koruna","localPaymentAvailable":true,"cutOffTime":"16:30","priorityDelivery":"Next
        Day","availableBuy":true,"availableSell":false,"extendedAvailableBuy":true,"extendedAvailableSell":true},{"code":"DKK","name":"Danis[...]
