---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/reference/available-currencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token: TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ac1e2af0-ec38-11e5-ada4-0d6cb957279c
    body:
      encoding: UTF-8
      string: '[{"code":"AUD","name":"Australian Dollar","localPaymentAvailable":false,"cutOffTime":"14:00","priorityDelivery":"Next
        Day","availableBuy":true,"availableSell":false,"decimalPlaces":2},{"code":"CAD","name":"Canadian
        Dollar","localPaymentAvailable":true,"cutOffTime":"13:00","priorityDelivery":"Same
        Day","availableBuy":true,"availableSell":false,"decimalPlaces":2},{"code":"CZK","name":"Czech
        Koruna","localPaymentAvailable":true,"cutOffTime":"16:30","priorityDelivery":"Next
        Day","availableBuy":true,"availableSell":false,"decimalPlaces":2},{"code":"DKK","name":"Danish
        Krone","localPaymentAvailable":true,"cutOffTime":"16:30","priorityDeliv[...]
