---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/reference/available-currencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - LJ1fDZeDN9cntGz1qT2PeVbjofkNrsoHqRfmQwz7nCGwD
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 5d440a4c-a27d-11e5-849e-2937dcee2255
    body:
      encoding: UTF-8
      string: '[{"id":1,"code":"AUD","name":"Australian Dollar","localPaymentAvailable":false,"cutOffTime":"14:00","priorityDelivery":"Next
        Day","availableBuy":true,"availableSell":false,"extendedAvailableBuy":true,"extendedAvailableSell":true},{"id":2,"code":"CAD","name":"Canadian
        Dollar","localPaymentAvailable":true,"cutOffTime":"14:00","priorityDelivery":"Same
        Day","availableBuy":true,"availableSell":false,"extendedAvailableBuy":true,"extendedAvailableSell":true},{"id":3,"code":"CZK","name":"Czech
        Koruna","localPaymentAvailable":true,"cutOffTime":"16:30","priorityDelivery":"Next
        Day","availableBuy":true,"availableSell":false,"extendedAvailableBuy":true,"extendedAvailableSell":true},{"id":4,"code[...]
