---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/reference/available-currencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - MNJMZuPi0cHJ5fyj2ZOznkZzPI2nWsssG4lKIuqrTYIux
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b4d314d8-d988-11e5-97e6-91838d472174
    body:
      encoding: UTF-8
      string: '[{"code":"AUD","name":"Australian Dollar","localPaymentAvailable":false,"cutOffTime":"14:00","priorityDelivery":"Next
        Day","availableBuy":true,"availableSell":false,"decimalPlaces":2},{"code":"CAD","name":"Canadian
        Dollar","localPaymentAvailable":true,"cutOffTime":"13:00","priorityDelivery":"Same
        Day","availableBuy":true,"availableSell":false,"decimalPlaces":2},{"code":"CZK","name":"Czech
        Koruna","localPaymentAvailable":true,"cutOffTime":"16:30","priorityDelivery":"Next
        Day","availableBuy":true,"availableSell":false,"decimalPlaces":2},{"code":"DKK","name":"Danish
        Krone","localPaymentAvailable":true,"cutOffTime":"16:30","priorityDeliv[...]
