---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/reference/available-currencies?actingFor=148
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token: TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 22470c05-3d2e-11e6-a2b2-bb4abc17ddd6
    body:
      encoding: UTF-8
      string: '[{"code":"AUD","name":"Australian Dollar","localPaymentAvailable":false,"cutOffTime":"11:00","priorityDelivery":"Next
        Day","availableBuy":true,"availableSell":true,"decimalPlaces":2},{"code":"CAD","name":"Canadian
        Dollar","localPaymentAvailable":true,"cutOffTime":"11:00","priorityDelivery":"Same
        Day","availableBuy":true,"availableSell":false,"decimalPlaces":2},{"code":"CZK","name":"Czech
        Koruna","localPaymentAvailable":true,"cutOffTime":"11:00","priorityDelivery":"Next
        Day","availableBuy":true,"availableSell":false,"decimalPlaces":2},{"code":"DKK","name":"Danish
        Krone","localPaymentAvailable":true,"cutOffTime":"11:00","priorityDeliv[...]
