---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/beneficiaries/165?actingFor=148
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token: TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 12cb85f3-4845-11e6-b99c-e1c1825610f3
    body:
      encoding: UTF-8
      string: '{"id":165,"bankAccountHolderName":"Mark","beneficiaryCountry":"ES","bankCountry":"ES","currency":"EUR","beneficiaryAddress":"234
        Demo Street Name","bicSwift":"INGDESMM","iban":"ES9514650100981900000512","bankAddress":"CALLE
        SEVERO OCHOA 2,28232 LAS ROZAS DE MADRID","bankName":"ING BANK NV, SUCURSAL
        EN ESPANA (FORMERLY ING DIRECT NV, SUCURSAL EN ESPANA)","beneficiaryEntityType":"company","beneficiaryCompanyName":"Demo
        Inc.","beneficiaryCity":"New York","beneficiaryPostcode":"NY123","beneficiaryStateOrProvince":"NY","paymentType":"both"}'
  recorded_at: Tue, 12 Jul 2016 15:26:58 GMT
recorded_with: VCR 2.9.3
