---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/users/?loginId=kamen%2Bdemo@currencytransfer.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token: TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9d84e97c-3de4-11e6-b330-65472964003d
    body:
      encoding: UTF-8
      string: '{"users":[{"id":148,"loginId":"kamen+demo@currencytransfer.com","active":true,"tradingEnabled":true,"isCompany":false,"firstName":"Kamen","lastName":"Hursev","mobileNumber":"+359883343266","nationality":"GB","dateOfBirth":"1970-03-04T00:00:00.000Z","street":"Some
        str","city":"Sofia","postalCode":"1000","country":"BG","confirmationEmailAddress":"kamen+demo@currencytransfer.com"}],"page":1,"results":1}'
  recorded_at: Wed, 29 Jun 2016 10:31:18 GMT
recorded_with: VCR 2.9.3
