---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/conversions/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"GBP","buyCurrency":"EUR","currencyPair":"GBPEUR","deliveryDate":"2016-06-30","fixedSide":"sell","amount":15000,"agreesToTerms":true,"actingFor":148}'
    headers:
      X-Auth-Token: TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 2f29ece5-3d30-11e6-af58-d562bf53afc8
    body:
      encoding: UTF-8
      string: '{"id":276,"settlementTime":"2016-06-30T13:00:00.000Z","conversionDate":"2016-06-30","deliveryDate":"2016-06-30","status":"awaiting_funds","buyCurrency":"EUR","sellCurrency":"GBP","currencyPair":"EURGBP","fixedSide":"sell","buyAmount":18575.64,"sellAmount":15000.00,"interbankRate":0.80590,"depositAmount":"0.00","depositCurrency":"GBP","depositStatus":"not_required","depositRequiredAt":"","createdAt":"2016-06-28T12:59:49.000Z","clientRate":0.80791,"commission":37.32,"commissionCurrency":"GBP","settlementReference":"276MW"}'
  recorded_at: Tue, 28 Jun 2016 12:59:53 GMT
recorded_with: VCR 2.9.3
