---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/reference/settlement-accounts/132
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - xWyFSDE3KE9zdgFCJPa0D0RwEatLC6XlFIWH6OyFfr0SU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - f87fb868-c447-11e5-a114-1b3197f99bf1
    body:
      encoding: UTF-8
      string: '{"accountType":"settlement","currency":"GBP","accountName":"Supercapital
        Ltd (Re Segregated Client Funds)","beneficiaryName":"Supercapital Ltd","beneficiaryAddress":"50
        Liverpool Street, London, EC2M 7PY","beneficiaryCountry":"GB","bankName":"Coutts
        & Co","bankCountry":"GB","bicSwift":"COUTGB22","iban":"GB44 COUT 1800 0203
        3909 69","routingCode":"180002","accountNumber":"03390969","reference":"MW132"}'
  recorded_at: Tue, 26 Jan 2016 16:15:10 GMT
recorded_with: VCR 2.9.3
