---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/reference/settlement-accounts/132
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - LJ1fDZeDN9cntGz1qT2PeVbjofkNrsoHqRfmQwz7nCGwD
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 1b3ada81-b3c1-11e5-b8d5-1377fcf286c1
    body:
      encoding: UTF-8
      string: '{"code":"unauthorized_action","errors":[{"code":"unauthorized_action","message":"You
        are not authorized to view this page"}]}'
  recorded_at: Tue, 05 Jan 2016 15:29:27 GMT
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/auth/api-login
    body:
      encoding: UTF-8
      string: '{"emailAddress":"stevan-corp@currencytransfer.com","apiKey":"jD4WeeP1Ev0ap3ArKmlj8TWLIGbdSQ6ldaBKdGYsFnEsc"}'
    headers:
      X-Auth-Token:
      - LJ1fDZeDN9cntGz1qT2PeVbjofkNrsoHqRfmQwz7nCGwD
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 1b81ce79-b3c1-11e5-a27e-d37413aa0f29
    body:
      encoding: UTF-8
      string: '{"authToken":"IDywO7eSvoU8JqLgWoGqckCwg6rITsLrXFqYKVW6a37O1"}'
  recorded_at: Tue, 05 Jan 2016 15:29:27 GMT
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/reference/settlement-accounts/132
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - IDywO7eSvoU8JqLgWoGqckCwg6rITsLrXFqYKVW6a37O1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 1bb42919-b3c1-11e5-bd45-059a5216d32a
    body:
      encoding: UTF-8
      string: '{"accountType":"settlement","currency":"GBP","accountName":"Supercapital
        Ltd (Re Segregated Client Funds)","beneficiaryName":"Supercapital Ltd","beneficiaryAddress":"50
        Liverpool Street, London, EC2M 7PY","beneficiaryCountry":"GB","bankName":"Coutts
        & Co","bankCountry":"GB","bicSwift":"COUTGB22","iban":"GB44 COUT 1800 0203
        3909 69","routingCode":"180002","accountNumber":"03390969","reference":"MW132"}'
  recorded_at: Tue, 05 Jan 2016 15:29:28 GMT
recorded_with: VCR 2.9.3
