---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/conversions/
    body:
      encoding: UTF-8
      string: '{"buyCurrency":"EUR","sellCurrency":"GBP","currencyPair":"EURGBP","settlementDate":"2015-11-09","fixedSide":"sell","amount":15000,"agreesToTerms":true,"worstInterbankRate":10}'
    headers:
      X-Auth-Token:
      - LJ1fDZeDN9cntGz1qT2PeVbjofkNrsoHqRfmQwz7nCGwD
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9eb169b9-8482-11e5-ab62-5fa84fb59008
    body:
      encoding: UTF-8
      string: '{"id":115,"settlementDate":"2015-11-08T14:00:00.000Z","status":"awaiting_funds","buyCurrency":"EUR","sellCurrency":"GBP","currencyPair":"EURGBP","fixedSide":"sell","buyAmount":20798.55,"sellAmount":15000.00,"interbankRate":0.71940,"createdAt":"2015-11-06T12:33:46.000Z","clientRate":0.72120,"commission":52.20}'
  recorded_at: Fri, 06 Nov 2015 12:33:47 GMT
recorded_with: VCR 2.9.3
