---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/conversions/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"GBP","buyCurrency":"EUR","currencyPair":"GBPEUR","deliveryDate":"2016-01-29","fixedSide":"sell","amount":15000,"agreesToTerms":true,"worstInterbankRate":0}'
    headers:
      X-Auth-Token:
      - nwZhG5IuDiLkoD7PAaca4b82bIsHfvj8o2D3MOOUvRiGW
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - e7235127-c44f-11e5-9732-df886cd5b4c9
    body:
      encoding: UTF-8
      string: '{"id":147,"settlementDate":"2016-01-28T14:00:00.000Z","conversionDate":"2016-01-29T00:00:00.000Z","deliveryDate":"2016-01-29T00:00:00.000Z","status":"awaiting_funds","buyCurrency":"EUR","sellCurrency":"GBP","currencyPair":"EURGBP","fixedSide":"sell","buyAmount":19789.05,"sellAmount":15000.00,"interbankRate":0.75610,"depositAmount":"0.00","depositCurrency":"GBP","depositStatus":"not_required","depositRequiredAt":"","createdAt":"2016-01-26T17:11:57.000Z","clientRate":0.75799,"commission":49.65,"settlementReference":"MW147"}'
  recorded_at: Tue, 26 Jan 2016 17:12:00 GMT
recorded_with: VCR 2.9.3
