---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/conversions/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"GBP","buyCurrency":"EUR","currencyPair":"GBPEUR","deliveryDate":"2016-02-16","fixedSide":"sell","amount":15000,"agreesToTerms":true}'
    headers:
      X-Auth-Token:
      - P97OoYOQlMu0ElZ4ZIWChwysgXuKokvUGLLRNKbUkGrFz
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - a6a9df9a-d169-11e5-9c1b-99bcfef2e51f
    body:
      encoding: UTF-8
      string: '{"id":155,"settlementTime":"2016-02-16T14:00:00.000Z","conversionDate":"2016-02-16","deliveryDate":"2016-02-16","status":"awaiting_funds","buyCurrency":"EUR","sellCurrency":"GBP","currencyPair":"EURGBP","fixedSide":"sell","buyAmount":19249.20,"sellAmount":15000.00,"interbankRate":0.77730,"depositAmount":"0.00","depositCurrency":"GBP","depositStatus":"not_required","depositRequiredAt":"","createdAt":"2016-02-12T09:19:08.000Z","clientRate":0.77925,"commission":48.30,"settlementReference":"MW155"}'
  recorded_at: Fri, 12 Feb 2016 09:19:11 GMT
recorded_with: VCR 2.9.3
