http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/payments/
    body:
      encoding: UTF-8
      string: '{"beneficiaryId":165,"amount":10000,"currency":"EUR","paymentDate":"2016-07-04","paymentType":"local","reason":"property","reference":"Apartment
        123","transferFeeCurrency":"GBP","actingFor":148}'
    headers:
      X-Auth-Token: TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b8eb5777-41f6-11e6-9848-890a58f0455c
    body:
      encoding: UTF-8
      string: '{"id":27,"beneficiaryId":165,"amount":"10000","currency":"EUR","transferFeeCurrency":"GBP","paymentDate":"2016-07-04T00:00:00.000Z","paymentType":"local","reason":"property","reference":"Apartment
        123","status":"pending_release","beneficiary":{"id":165,"bankAccountHolderName":"Mark","beneficiaryCountry":"ES","bankCountry":"ES","currency":"EUR","beneficiaryAddress":"234
        Demo Street Name","bicSwift":"INGDESMM","iban":"ES9514650100981900000512","bankAddress":"CALLE
        SEVERO OCHOA 2,28232 LAS ROZAS DE MADRID","bankName":"ING BANK NV, SUCURSAL
        EN ESPANA (FORMERLY ING DIRECT NV, SUCURSAL EN ESPANA)","beneficiaryEntityType":"company","beneficiaryCompanyName":"Demo
        Inc.","beneficiaryCity":"New York","beneficiaryPostcode":"NY123","beneficiaryStateOrProvince":"NY","paymentType":"both"}}'
  recorded_at: Mon, 04 Jul 2016 14:51:00 GMT
recorded_with: VCR 2.9.3
---
http_interactions:
[...]
