---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/quotes/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"ILS","buyCurrency":"EUR","fixedSide":"sell","amount":15000,"deliveryDate":"2016-06-30","actingFor":148}'
    headers:
      X-Auth-Token: TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - bebfd92b-3d2f-11e6-b9c9-ebe55b2fb1d4
    body:
      encoding: UTF-8
      string: '{"code":"currencies_not_tradeable","errors":[{"code":"currencies_not_tradeable","message":"ILS
        is not available to sell."}]}'
  recorded_at: Tue, 28 Jun 2016 12:56:37 GMT
recorded_with: VCR 2.9.3
