---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/quotes/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"EUR","buyCurrency":"GBP","fixedSide":"sell","amount":10,"deliveryDate":"2016-06-30","actingFor":148}'
    headers:
      X-Auth-Token: TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c6e78ef0-3d2f-11e6-814e-a5e11c7bb809
    body:
      encoding: UTF-8
      string: '{"code":"sell_amount_below_minimum","errors":[{"code":"sell_amount_below_minimum","message":"The
        minimum sell amount is the equivalent of 1000 GBP."}]}'
  recorded_at: Tue, 28 Jun 2016 12:56:49 GMT
recorded_with: VCR 2.9.3
