---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/quotes/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"ILS","buyCurrency":"BGN","fixedSide":"sell","amount":15000,"deliveryDate":"2016-06-30","actingFor":148}'
    headers:
      X-Auth-Token: TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - a133c2c4-3d2f-11e6-9258-d5237ef15a82
    body:
      encoding: UTF-8
      string: '{"code":"not_found","errors":[{"code":"not_found","message":"Unable
        to find conversion dates for that currency pair"}]}'
  recorded_at: Tue, 28 Jun 2016 12:55:46 GMT
recorded_with: VCR 2.9.3
