---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/reference/balances/AUD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - 6AL2cAzozKYvi98RV17re7wBKMTP1PADs28v2o4AIHPik
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - f63ca3fe-ec31-11e5-bfb2-e550cfa624e7
    body:
      encoding: UTF-8
      string: '{"currency":"AUD","boughtFunds":0.00,"settledBoughtFunds":0.00,"unsettledBoughtFunds":0.00,"deposits":0.00,"payments":0.00,"deductions":0.00,"balance":0.00,"availableToWithdraw":0.00,"transactionLimit":163668.71}'
  recorded_at: Thu, 17 Mar 2016 11:18:24 GMT
recorded_with: VCR 2.9.3
