---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/conversions/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"EUR","buyCurrency":"GBP","currencyPair":"EURGBP","settlementDate":"2016-01-29","fixedSide":"sell","amount":15000,"agreesToTerms":true,"worstInterbankRate":1.0,"actingFor":148}'
    headers:
      X-Auth-Token: TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 7f222f1c-3d30-11e6-9147-cf1de62e6088
    body:
      encoding: UTF-8
      string: '{"code":"bad_request","errors":[{"code":"bad_request","message":"The
        settlement date you provided is before the minimum settlement date for this
        currency pair."}]}'
  recorded_at: Tue, 28 Jun 2016 13:01:59 GMT
recorded_with: VCR 2.9.3
