---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/conversions/74
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - ma0oHFCS1aCtCoZXuSh1pmFrycW4hKqkRN9B40zSZcM9f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - eb60641b-7e34-11e5-9e83-c59612a7c29a
    body:
      encoding: UTF-8
      string: '{"id":74,"settlementDate":"2015-10-29T14:00:00.000Z","status":"awaiting_funds","buyCurrency":"EUR","sellCurrency":"GBP","currencyPair":"EURGBP","fixedSide":"sell","buyAmount":20885.55,"sellAmount":15000.00,"interbankRate":1.39160,"createdAt":"2015-10-29T12:01:44.000Z","clientRate":1.39508,"commission":37.50}'
  recorded_at: Thu, 29 Oct 2015 12:02:25 GMT
recorded_with: VCR 2.9.3
