---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/conversions/?buyCurrency=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - ma0oHFCS1aCtCoZXuSh1pmFrycW4hKqkRN9B40zSZcM9f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9335ef33-7e35-11e5-b259-6b2a8f9e981e
    body:
      encoding: UTF-8
      string: '{"results":11,"page":1,"conversions":[{"id":57,"settlementDate":"2015-10-14T00:00:00.000Z","status":"awaiting_funds","buyCurrency":"EUR","sellCurrency":"USD","currencyPair":"EURUSD","fixedSide":"buy","buyAmount":1000.00,"sellAmount":1137.94,"interbankRate":0.88100,"createdAt":"2015-10-09T12:04:20.000Z","clientRate":0.88320,"commission":2.50},{"id":58,"settlementDate":"2015-10-14T00:00:00.000Z","status":"awaiting_funds","buyCurrency":"EUR","sellCurrency":"USD","currencyPair":"EURUSD","fixedSide":"buy","buyAmount":10000.00,"sellAmount":11395.93,"interbankRate":0.87970,"createdAt":"2015-10-12T16:23:45.000Z","clientRate":0.88190,"commission":25.00},{"id":59,"settlementDate":"2015-10-14T00:00:00.000Z","status":"awaiting_funds","buyCurrency":"EUR","sellCurrency":"USD","currencyPair":"EURUSD","fixedSide":"buy","buyAmount":10000.00,"s[...]
