---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/conversions/?buyCurrency=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - nwZhG5IuDiLkoD7PAaca4b82bIsHfvj8o2D3MOOUvRiGW
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 58ee7bcf-c450-11e5-a711-1f81a7dabc88
    body:
      encoding: UTF-8
      string: '{"results":41,"page":1,"conversions":[{"id":57,"settlementDate":"2015-10-14T00:00:00.000Z","conversionDate":"2015-10-09T12:04:20.000Z","deliveryDate":"","status":"trade_settled","buyCurrency":"EUR","sellCurrency":"USD","currencyPair":"EURUSD","fixedSide":"buy","buyAmount":1000.00,"sellAmount":1137.94,"interbankRate":1.13507,"depositAmount":"0.00","depositCurrency":"USD","depositStatus":"","depositRequiredAt":"","createdAt":"2015-10-09T12:04:20.000Z","clientRate":1.13792,"commission":2.50,"settlementReference":"MW57"},{"id":58,"settlementDate":"2015-10-14T00:00:00.000Z","conversionDate":"2015-10-12T16:23:45.000Z","deliveryDate":"","status":"trade_settled","buyCurrency":"EUR","sellCurrency":"USD","currencyPair":"EURUSD","fixedSide":"buy","buyAmount":10000.00,"sellAmount":11395.93,"interbankRate":1.13675,"depositAmount":"0.00","depositCurrency":"USD","depositStatus":"","depositRequiredAt":"","createdAt":"2015-10-12T16:23:45.000Z","clientRate":1.13960,"commission":25.00,"settlementReference":"MW58"},{"id[...]
