---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/users/148
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token: TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 6d9de205-483c-11e6-bf43-51643d213404
    body:
      encoding: UTF-8
      string: '{"id":148,"loginId":"kamen+demo@currencytransfer.com","active":true,"tradingEnabled":true,"isCompany":false,"firstName":"Kamen","lastName":"Hursev","mobileNumber":"+359883343266","nationality":"GB","dateOfBirth":"1970-03-04T00:00:00.000Z","street":"Some
        str","city":"Sofia","postalCode":"1000","country":"BG","confirmationEmailAddress":"kamen+demo@currencytransfer.com"}'
  recorded_at: Tue, 12 Jul 2016 14:25:06 GMT
recorded_with: VCR 2.9.3
