---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/conversions/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"EUR","buyCurrency":"GBP","currencyPair":"EURGBP","settlementDate":"2016-01-29","fixedSide":"sell","amount":15000,"agreesToTerms":true,"worstInterbankRate":1.0}'
    headers:
      X-Auth-Token:
      - nwZhG5IuDiLkoD7PAaca4b82bIsHfvj8o2D3MOOUvRiGW
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 8febf1d5-c4d9-11e5-ad9e-6550a7e6ee41
    body:
      encoding: UTF-8
      string: '{"code":"exchange_rate_moved","errors":[{"code":"exchange_rate_moved","message":"The
        exchange rate has moved against the previously quoted rate. Please review
        the rate again before continuing."}]}'
  recorded_at: Wed, 27 Jan 2016 09:37:26 GMT
recorded_with: VCR 2.9.3
