---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/conversions/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"GBP","buyCurrency":"ILS","currencyPair":"GBPILS","deliveryDate":"2016-01-01","fixedSide":"sell","amount":15000,"agreesToTerms":true}'
    headers:
      X-Auth-Token:
      - 5TKKyE1P31t4l1m6yfFxlqi3O9X5ZAW5IwT7Wy1mOv1Uc
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 61b53428-c5a1-11e5-ae0b-cde5b6761a14
    body:
      encoding: UTF-8
      string: '{"code":"bad_request","errors":[{"code":"bad_request","message":"The
        delivery date you provided is before the minimum delivery date for this currency
        pair."}]}'
  recorded_at: Thu, 28 Jan 2016 09:27:42 GMT
recorded_with: VCR 2.9.3
