---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/conversions/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"GBP","buyCurrency":"ILS","currencyPair":"GBPILS","deliveryDate":"2016-01-29","fixedSide":"sell","amount":15000,"agreesToTerms":true}'
    headers:
      X-Auth-Token:
      - nwZhG5IuDiLkoD7PAaca4b82bIsHfvj8o2D3MOOUvRiGW
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 15ec35c1-c4e3-11e5-82d1-c559406a6133
    body:
      encoding: UTF-8
      string: '{"code":"unmapped_error","errors":[{"code":"unmapped_error","message":"The
        system was unable to handle your request at this time. Please try again later."}]}'
  recorded_at: Wed, 27 Jan 2016 10:45:31 GMT
recorded_with: VCR 2.9.3
