---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/conversions/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"GBP","buyCurrency":"ILS","currencyPair":"GBPILS","deliveryDate":"2016-01-01","fixedSide":"sell","amount":15000,"agreesToTerms":true,"actingFor":148}'
    headers:
      X-Auth-Token: TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 8842752f-3d30-11e6-9326-c93b68ea41ec
    body:
      encoding: UTF-8
      string: '{"code":"bad_request","errors":[{"code":"bad_request","message":"The
        delivery date you provided is before the minimum delivery date for this currency
        pair."}]}'
  recorded_at: Tue, 28 Jun 2016 13:02:14 GMT
recorded_with: VCR 2.9.3
