---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/quotes/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"EUR","buyCurrency":"GBP","fixedSide":"sell","amount":15000,"deliveryDate":"2016-02-16"}'
    headers:
      X-Auth-Token:
      - P97OoYOQlMu0ElZ4ZIWChwysgXuKokvUGLLRNKbUkGrFz
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 8b820306-d16a-11e5-8f96-87e74c967a0b
    body:
      encoding: UTF-8
      string: '{"sellAmount":15000.00,"buyAmount":11622.90,"commission":29.10,"transferFee":0.00,"markedUpAmount":11622.90,"sellCurrency":"EUR","buyCurrency":"GBP","currencyPair":"EURGBP","fixedSide":"sell","depositAmount":0.0,"depositCurrency":"EUR","interbankRate":0.77680,"clientRate":0.77486,"markedUpRate":0.77486,"quoteTime":"2016-02-12T09:25:28.876Z","settlementTime":"2016-02-15T13:00:00.000Z","conversionDate":"2016-02-16","deliveryDate":"2016-02-16","gbpAmount":11653.35,"stale":false}'
  recorded_at: Fri, 12 Feb 2016 09:25:28 GMT
recorded_with: VCR 2.9.3
