---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/payments/?actingFor=148&currency=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token: TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b264da1f-41f7-11e6-bedf-d1d062a65a13
    body:
      encoding: UTF-8
      string: '{"results":1,"page":1,"payments":[{"id":27,"beneficiaryId":165,"amount":"10000.00","currency":"EUR","transferFeeCurrency":"GBP","paymentDate":"2016-07-04T00:00:00.000Z","paymentType":"local","reason":"property","reference":"Apartment
        123","status":"pending_release","beneficiary":{"id":165,"bankAccountHolderName":"Mark","beneficiaryCountry":"ES","bankCountry":"ES","currency":"EUR","beneficiaryAddress":"234
        Demo Street Name","bicSwift":"INGDESMM","iban":"ES9514650100981900000512","bankAddress":"CALLE
        SEVERO OCHOA 2,28232 LAS ROZAS DE MADRID","bankName":"ING BANK NV, SUCURSAL
        EN ESPANA (FORMERLY ING DIRECT NV, SUCURSAL EN ESPANA)","beneficiaryEntityType":"company","beneficiaryCompanyName":"Demo
        Inc.","beneficiaryCity":"New York","beneficiaryPostcode":"NY123","beneficiaryStateOrProvince":"NY","paymentType":"both"}}]}'
  recorded_at: Mon, 04 Jul 2016 14:57:58 GMT
recorded_with: VCR 2.9.3
