---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/reference/settlement-accounts/132
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token: TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 4c031899-3d2e-11e6-af58-d562bf53afc8
    body:
      encoding: UTF-8
      string: '{"accountType":"settlement","currency":"GBP","accountName":"Supercapital
        Ltd (Re Segregated Client Funds)","beneficiaryName":"Supercapital Ltd","beneficiaryAddress":"50
        Liverpool Street, London, EC2M 7PY","beneficiaryCountry":"GB","bankName":"Coutts
        & Co","bankCountry":"GB","bicSwift":"COUTGB22","iban":"GB44 COUT 1800 0203
        3909 69","routingCode":"180002","accountNumber":"03390969","reference":"MW101"}'
  recorded_at: Tue, 28 Jun 2016 12:46:13 GMT
recorded_with: VCR 2.9.3
