---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/beneficiaries/
    body:
      encoding: UTF-8
      string: '{"beneficiary":{"bankAccountHolderName":"John Smith","bankCountry":"ES","currency":"EUR","iban":"ES9514650100981900000512","bicSwift":"INGDESMM","beneficiaryEntityType":"company","beneficiaryCountry":"ES","beneficiaryCompanyName":"Demo
        Inc.","beneficiaryAddress":"234 Demo Street Name","beneficiaryCity":"New York","beneficiaryPostcode":"NY123","beneficiaryStateOrProvince":"NY","paymentType":"both"},"authCode":"800201","authMethod":"totp","actingFor":148}'
    headers:
      X-Auth-Token: TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ff2468df-3f6d-11e6-a20e-afec3c076791
    body:
      encoding: UTF-8
      string: '{"id":165,"bankAccountHolderName":"John Smith","beneficiaryCountry":"ES","bankCountry":"ES","currency":"EUR","beneficiaryAddress":"234
        Demo Street Name","bicSwift":"INGDESMM","iban":"ES9514650100981900000512","bankAddress":"CALLE
        SEVERO OCHOA 2,28232 LAS ROZAS DE MADRID","bankName":"ING BANK NV, SUCURSAL
        EN ESPANA (FORMERLY ING DIRECT NV, SUCURSAL EN ESPANA)","beneficiaryEntityType":"company","beneficiaryCompanyName":"Demo
        Inc.","beneficiaryCity":"New York","beneficiaryPostcode":"NY123","beneficiaryStateOrProvince":"NY","paymentType":"both"}'
  recorded_at: Fri, 01 Jul 2016 09:27:15 GMT
recorded_with: VCR 2.9.3
