---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/conversions/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"EUR","buyCurrency":"GBP","currencyPair":"EURGBP","settlementDate":"2015-11-09","fixedSide":"sell","amount":15000,"agreesToTerms":true,"worstInterbankRate":1.0}'
    headers:
      X-Auth-Token:
      - LJ1fDZeDN9cntGz1qT2PeVbjofkNrsoHqRfmQwz7nCGwD
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 1ebdb419-847f-11e5-b322-bb2d19766627
    body:
      encoding: UTF-8
      string: '{"code":"exchange_rate_moved","errors":[{"code":"exchange_rate_moved","message":"The
        exchange rate has moved against the previously quoted rate. Please review
        the rate again before continuing."}]}'
  recorded_at: Fri, 06 Nov 2015 12:08:42 GMT
recorded_with: VCR 2.9.3
