---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/quotes/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"ILS","buyCurrency":"EUR","fixedSide":"sell","amount":15000,"deliveryDate":"2016-01-29"}'
    headers:
      X-Auth-Token:
      - 5TKKyE1P31t4l1m6yfFxlqi3O9X5ZAW5IwT7Wy1mOv1Uc
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 23f0e5af-c59f-11e5-94f7-4b039832278f
    body:
      encoding: UTF-8
      string: '{"code":"currencies_not_tradeable","errors":[{"code":"currencies_not_tradeable","message":"io.fintek.supercapital.reference.api.entity.CurrencyRepresentation@626d4edf
        is not available to sell."}]}'
  recorded_at: Thu, 28 Jan 2016 09:11:40 GMT
recorded_with: VCR 2.9.3
