---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/quotes/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"EUR","buyCurrency":"GBP","fixedSide":"sell","amount":0}'
    headers:
      X-Auth-Token:
      - FhA7ddYdtMLx73RK6y5S12PiYWoOr3M91Hg7nacY6ZPAn
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9bcd5eb6-7cc4-11e5-ac8e-21b8771121db
    body:
      encoding: UTF-8
      string: '{"code":"sell_amount_below_minimum","errors":[{"code":"sell_amount_below_minimum","message":"The
        minimum sell amount is the equivalent of 1 GBP."}]}'
  recorded_at: Tue, 27 Oct 2015 16:05:57 GMT
recorded_with: VCR 2.9.3
