---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/quotes/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"EUR","buyCurrency":"GBP","fixedSide":"sell","amount":15000,"deliveryDate":"2016-01-26"}'
    headers:
      X-Auth-Token:
      - nwZhG5IuDiLkoD7PAaca4b82bIsHfvj8o2D3MOOUvRiGW
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b9865dbf-c44b-11e5-8e86-c98fdc374176
    body:
      encoding: UTF-8
      string: '{"code":"unmapped_error","errors":[{"code":"unmapped_error","message":"The
        system was unable to handle your request at this time. Please try again later."}]}'
  recorded_at: Tue, 26 Jan 2016 16:42:02 GMT
recorded_with: VCR 2.9.3
