---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/quotes/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"EUR","buyCurrency":"invalid-buy","fixedSide":"sell","amount":"invalid"}'
    headers:
      X-Auth-Token:
      - LJ1fDZeDN9cntGz1qT2PeVbjofkNrsoHqRfmQwz7nCGwD
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 8bd25733-c44a-11e5-aa8f-a789585896d4
    body:
      encoding: UTF-8
      string: '{"code":"malformed_request_content","errors":[{"code":"malformed_request_content","message":"No
        usable value for amount\nDo not know how to convert JString(invalid) into
        class scala.math.BigDecimal"}]}'
  recorded_at: Tue, 26 Jan 2016 16:33:35 GMT
recorded_with: VCR 2.9.3
