---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/quotes/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"ILS","buyCurrency":"BGN","fixedSide":"sell","amount":15000,"deliveryDate":"2016-01-29"}'
    headers:
      X-Auth-Token:
      - 5TKKyE1P31t4l1m6yfFxlqi3O9X5ZAW5IwT7Wy1mOv1Uc
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 0f0732b2-c59f-11e5-8c71-7f01aa7a8d6e
    body:
      encoding: UTF-8
      string: '{"code":"not_found","errors":[{"code":"not_found","message":"Unable
        to find conversion dates for that currency pair"}]}'
  recorded_at: Thu, 28 Jan 2016 09:11:05 GMT
recorded_with: VCR 2.9.3
