---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/quotes/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"EUR","buyCurrency":"GBP","fixedSide":"sell","amount":0}'
    headers:
      X-Auth-Token:
      - 2enDAHRRuA7vqN7Yt2ERXDUKKdO0Wdy9X6mUISeo0dqho
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 6d0cbb42-847c-11e5-be6a-415124939e7c
    body:
      encoding: UTF-8
      string: '{"code":"malformed_request_content","errors":[{"code":"malformed_request_content","message":"No
        usable value for settlementDate\nDid not find value which can be converted
        into java.lang.String"}]}'
  recorded_at: Fri, 06 Nov 2015 11:49:24 GMT
recorded_with: VCR 2.9.3
