---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/quotes/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"EUR","buyCurrency":"invalid-buy","fixedSide":"sell","amount":"invalid"}'
    headers:
      X-Auth-Token:
      - 2enDAHRRuA7vqN7Yt2ERXDUKKdO0Wdy9X6mUISeo0dqho
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - dbbb0a93-847b-11e5-8f2c-655042592d0a
    body:
      encoding: UTF-8
      string: '{"code":"malformed_request_content","errors":[{"code":"malformed_request_content","message":"No
        usable value for amount\nDo not know how to convert JString(invalid) into
        class scala.math.BigDecimal"}]}'
  recorded_at: Fri, 06 Nov 2015 11:45:20 GMT
recorded_with: VCR 2.9.3
