---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/quotes/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"EUR","buyCurrency":"GBP","fixedSide":"sell","amount":120000,"deliveryDate":"2016-02-22"}'
    headers:
      X-Auth-Token:
      - V24nvnEUnGixquDZaVf11NzyXf8DtcQvBQi5pnsqKepbH
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 8ad08a85-d4b5-11e5-9a3d-a950e9882f8d
    body:
      encoding: UTF-8
      string: '{"code":"insufficient_margin","errors":[{"code":"insufficient_margin","message":"You
        need to deposit the equivalent of GBP 872.81 in order to trade this amount"}]}'
  recorded_at: Tue, 16 Feb 2016 13:59:50 GMT
recorded_with: VCR 2.9.3
