---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/quotes/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"EUR","buyCurrency":"invalid-buy","fixedSide":"sell","amount":"invalid"}'
    headers:
      X-Auth-Token:
      - 5TKKyE1P31t4l1m6yfFxlqi3O9X5ZAW5IwT7Wy1mOv1Uc
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b7392f1b-c5a2-11e5-8d98-6df62873a52b
    body:
      encoding: UTF-8
      string: '{"code":"malformed_request_content","errors":[{"code":"malformed_request_content","message":"No
        usable value for amount\nDo not know how to convert JString(invalid) into
        class scala.math.BigDecimal"}]}'
  recorded_at: Thu, 28 Jan 2016 09:37:15 GMT
recorded_with: VCR 2.9.3
