---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/quotes/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"EUR","buyCurrency":"EUR","fixedSide":"sell","amount":"invalid"}'
    headers:
      X-Auth-Token:
      - FhA7ddYdtMLx73RK6y5S12PiYWoOr3M91Hg7nacY6ZPAn
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9c1bf428-7cc4-11e5-9f2f-294c463c4fb4
    body:
      encoding: UTF-8
      string: '{"code":"malformed_request_content","errors":[{"code":"malformed_request_content","message":"No
        usable value for amount\nDo not know how to convert JString(invalid) into
        class scala.math.BigDecimal"}]}'
  recorded_at: Tue, 27 Oct 2015 16:05:58 GMT
recorded_with: VCR 2.9.3
