---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/quotes/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"EUR","buyCurrency":"GBP","fixedSide":"sell","amount":15000,"deliveryDate":"2016-02-22"}'
    headers:
      X-Auth-Token:
      - RJHuvswLqJJ5SqKbfGy8Fdz4aBLXVD3EI9MagQVUKpEYx
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 42316551-d710-11e5-9b24-8bf87a99def6
    body:
      encoding: UTF-8
      string: '{"code":"authentication_failed","errors":[{"code":"authentication_failed","message":"Your
        account must be activated before you can complete this action."}]}'
  recorded_at: Fri, 19 Feb 2016 13:54:13 GMT
recorded_with: VCR 2.9.3
