---
http_interactions:
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/quotes/
    body:
      encoding: UTF-8
      string: '{"sellCurrency":"EUR","buyCurrency":"GBP","fixedSide":"sell","amount":15000,"deliveryDate":"2016-02-22","actingFor":"acting_for"}'
    headers:
      X-Auth-Token: TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - f32ae292-3d2f-11e6-bbc0-71004f1eca33
    body:
      encoding: UTF-8
      string: '{"code":"authentication_failed","errors":[{"code":"authentication_failed","message":"Your
        account must be activated before you can complete this action."}]}'
  recorded_at: Tue, 28 Jun 2016 12:58:03 GMT
recorded_with: VCR 2.9.3
