---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/reference/balances/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - 6AL2cAzozKYvi98RV17re7wBKMTP1PADs28v2o4AIHPik
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 4ac63596-ec2f-11e5-b213-db79d6d313fd
    body:
      encoding: UTF-8
      string: '{"balances":[{"currency":"JPY","boughtFunds":51201997.00,"settledBoughtFunds":0.00,"unsettledBoughtFunds":51201997.00,"deposits":0.00,"payments":0.00,"deductions":0.00,"balance":0.00,"availableToWithdraw":0.00,"transactionLimit":13917721.63},{"currency":"SEK","boughtFunds":0.00,"settledBoughtFunds":0.00,"unsettledBoughtFunds":0.00,"deposits":0.00,"payments":0.00,"deductions":0.00,"balance":0.00,"availableToWithdraw":0.00,"transactionLimit":1022614.01},{"currency":"USD","boughtFunds":599125.62,"settledBoughtFunds":579125.62,"unsettledBoughtFunds":20000.00,"deposits":0.00,"payments":0.00,"deductions":204.92,"balance":578920.70,"availableToWithdraw":578920.70,"transactionLimit":125024.92},{"currency":"CHF","boughtFunds":0.00,"settledBoughtFunds":0.00,"unsettledBoughtFunds":0.00,"deposits":0.00,"payments":0.00,"deductions":0.00,"balance":0.00,"availableToWithdraw":0.00,"transactionLimit":121236.16},{"currency":"EUR","boughtFunds":851296.80,"settledBoughtFunds":775428.29,"unsettledBoughtFunds":75868.51,"deposits":0.00,"payments":0.00,"deductions":291.98,"balance":775136.31,"availableToWithdraw":775136.31,"transactionLimit":110410.24},{"currency":"GBP","boughtFunds":273103.75,"settledBoughtFunds":267103.75,"unsettledBoughtFunds":6000.00,"deposits":0.00,"payments":0.00,"deductions":177.12,"balance":266926.63,"availableToWithdraw":266926.63,"transactionLimit":87118.10},{"currency":"ILS","boughtFunds":433658.71,"settledBoughtFunds":433658.71,"unsettledBoughtFunds":0.00,"deposits":0.00,"payments":0.00,"deductions":0.00,"balance":433658.71,"availableToWithdraw":433658.71,"transactionLimit":483366.06}]}'
  recorded_at: Thu, 17 Mar 2016 10:59:18 GMT
recorded_with: VCR 2.9.3
