---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/reference/balances
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - LJ1fDZeDN9cntGz1qT2PeVbjofkNrsoHqRfmQwz7nCGwD
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - f43b5805-c447-11e5-aa67-e7ccc846e41b
    body:
      encoding: UTF-8
      string: '{"code":"unauthorized_action","errors":[{"code":"unauthorized_action","message":"You
        are not authorized to view this page"}]}'
  recorded_at: Tue, 26 Jan 2016 16:15:02 GMT
- request:
    method: post
    uri: https://public-demo-api.supercapital.uk/v1/auth/api-login
    body:
      encoding: UTF-8
      string: '{"emailAddress":"stevan-corp@currencytransfer.com","apiKey":"jD4WeeP1Ev0ap3ArKmlj8TWLIGbdSQ6ldaBKdGYsFnEsc"}'
    headers:
      X-Auth-Token:
      - LJ1fDZeDN9cntGz1qT2PeVbjofkNrsoHqRfmQwz7nCGwD
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - f482c13d-c447-11e5-a449-534b5a6968fa
    body:
      encoding: UTF-8
      string: '{"authToken":"Kkm151mP18Pe4oWnnSpjRWBIPvCtkdF7gI80p9G9foNvm"}'
  recorded_at: Tue, 26 Jan 2016 16:15:03 GMT
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/reference/balances
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - Kkm151mP18Pe4oWnnSpjRWBIPvCtkdF7gI80p9G9foNvm
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - f4c19efc-c447-11e5-a204-4da58bbfbaf1
    body:
      encoding: UTF-8
      string: '{"balances":[{"currency":"USD","boughtFunds":564125.62,"settledBoughtFunds":0.00,"unsettledBoughtFunds":564125.62,"deposits":0.00,"payments":0.00,"deductions":204.92,"balance":-204.92,"availableToWithdraw":0.00,"transactionLimit":0.00},{"currency":"EUR","boughtFunds":686059.74,"settledBoughtFunds":0.00,"unsettledBoughtFunds":686059.74,"deposits":0.00,"payments":0.00,"deductions":291.98,"balance":-291.98,"availableToWithdraw":0.00,"transactionLimit":0.00},{"currency":"GBP","boughtFunds":87924.00,"settledBoughtFunds":0.00,"unsettledBoughtFunds":87924.00,"deposits":0.00,"payments":0.00,"deductions":177.12,"balance":-177.12,"availableToWithdraw":0.00,"transactionLimit":0.00},{"currency":"ILS","boughtFunds":57241.05,"settledBoughtFunds":0.00,"unsettledBoughtFunds":57241.05,"deposits":0.00,"payments":0.00,"deductions":0.00,"balance":0.00,"availableToWithdraw":0.00,"transactionLimit":0.00}]}'
  recorded_at: Tue, 26 Jan 2016 16:15:08 GMT
recorded_with: VCR 2.9.3
