---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/reference/balances/?actingFor=148
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token: TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 33f7175c-3d2e-11e6-949c-73712cf1a4b6
    body:
      encoding: UTF-8
      string: '{"balances":[{"currency":"AUD","boughtFunds":0.00,"settledBoughtFunds":0.00,"unsettledBoughtFunds":0.00,"deposits":0.00,"payments":0.00,"deductions":0.00,"balance":0.00,"availableToWithdraw":0.00,"transactionLimit":181166.00},{"currency":"USD","boughtFunds":0.00,"settledBoughtFunds":0.00,"unsettledBoughtFunds":0.00,"deposits":0.00,"payments":0.00,"deductions":0.00,"balance":0.00,"availableToWithdraw":0.00,"transactionLimit":134130.00},{"currency":"CHF","boughtFunds":0.00,"settledBoughtFunds":0.00,"unsettledBoughtFunds":0.00,"deposits":0.00,"payments":0.00,"deductions":0.00,"balance":0.00,"availableToWithdraw":0.00,"transactionLimit":131296.00},{"currency":"EUR","boughtFunds":0.00,"settledBoughtFunds":0.00,"unsettledBoughtFunds":0.00,"deposits":0.00,"payments":0.00,"deductions":0.00,"balance":0.00,"availableToWithdraw":0.00,"transactionLimit":121053.65},{"currency":"GBP","boughtFunds":0.00,"settledBoughtFunds":0.00,"unsettledBoughtFunds":0.00,"deposits":0.00,"payments":0.00,"deductions":0.00,"balance":0.00,"availableToWithdraw":0.00,"transactionLimit":100000.00}]}'
  recorded_at: Tue, 28 Jun 2016 12:45:34 GMT
recorded_with: VCR 2.9.3
