---
http_interactions:
- request:
    method: get
    uri: https://public-demo-api.supercapital.uk/v1/reference/balances/AUD?actingFor=148
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token: TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 34bf4934-3d2e-11e6-9259-85494b8c6f7b
    body:
      encoding: UTF-8
      string: '{"currency":"AUD","boughtFunds":0.00,"settledBoughtFunds":0.00,"unsettledBoughtFunds":0.00,"deposits":0.00,"payments":0.00,"deductions":0.00,"balance":0.00,"availableToWithdraw":0.00,"transactionLimit":181181.00}'
  recorded_at: Tue, 28 Jun 2016 12:45:35 GMT
recorded_with: VCR 2.9.3
